.reviews .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 70%;
	height: 100vh;
}

table {
	border-collapse: collapse;
}

table th {
	background-color: #eee;
}
th:last-child {
	width: 30%;
}

th,
td {
	width: fit-content;
	padding: 10px;
}
tr:not(:first-child) {
	border-bottom: 1px solid #ddd;
}

td button {
	padding: 5px;
	margin: 0;
}
td button:disabled {
	background-color: #aaa;
}
td button:disabled:hover {
	background-color: #aaa;
}
